body {
  background-color: rgb(122, 155, 216);
  width: 300px;
  height: 100%;
  margin: 10px;
}

main {
  width: 300px;
}

h1 {
  margin-inline: 10px;
}

h2 {
  margin-inline: 10px;
}

select {
  margin-inline: 10px;
  margin-bottom: 10px;
  height: 40px;
  width: 280px;
  font-size: 18px;
}

.inputGroup {
  display: flex;
  justify-content: space-between;
  margin-inline: 10px;
  margin-bottom: 5px;
}
/*
.projectSelect {
  width: 200px;
} */
